@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.remark-visible .remark-slide-content:not(.no-animation), .fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.remark-visible .remark-slide-content {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
