/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */

.panelset {
  width: 100%;
  position: relative;
  --panel-tabs-border-bottom: #ddd;
  --panel-tab-color: currentColor;
  --panel-tab-color-active: currentColor;
  --panel-tab-color-hover: currentColor;
  --panel-tab-inactive-opacity: 0.5;
  --panel-tab-font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
}

.panelset * {
  box-sizing: border-box;
}

.panel-tabs {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: start;
          justify-content: start;
  -webkit-box-align: center;
          align-items: center;
  border-bottom: 2px solid var(--panel-tabs-border-bottom);
}

.panel-tabs * {
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.panel-tab {
  min-height: 50px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  padding: 0.5em 1em;
  font-family: var(--panel-tab-font-family);
  opacity: var(--panel-tab-inactive-opacity);
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  margin-bottom: -2px;
  color: var(--panel-tab-color);
}

.panel-tab:hover {
  border-bottom-color: currentColor;
  color: var(--panel-tab-color-hover);
  opacity: 1;
  cursor: pointer;
}

.panel-tab:focus {
  outline: none;
  border-bottom-color: var(--panel-tab-color-active);
}

.panel-tab.panel-tab-active {
  border-top-color: currentColor;
  color: var(--panel-tab-color-active);
  opacity: 1;
}

.panel {
  display: none;
}

.panel-active {
  display: block;
}
