.panelset {
  width: 100%;
  position: relative;
  --panel-tabs-border-bottom: #ddd;
  --panel-tabs-color: currentColor;
  --panel-tabs-color-active: currentColor;
  --panel-tabs-color-hover: currentColor;
  --panel-tabs-inactive-opacity: 0.5;
  --panel-tabs-font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
}

.panelset * {
  box-sizing: border-box;
}

.panel-tabs {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  border-bottom: 2px solid var(--panel-tabs-border-bottom);
}

.panel-tabs * {
  transition: opacity 0.25s linear, color 0.25s linear;
}

.panel-tab {
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em 1em;
  font-family: var(--panel-tabs-font-family);
  opacity: var(--panel-tabs-inactive-opacity);
  border-top: 2px solid transparent;
  color: var(--panel-tabs-color);
}

.panel-tab:hover {
  border-top: 2px solid;
  border-top-color: currentColor;
  color: var(--panel-tabs-color-hover);
  opacity: 1;
  cursor: pointer;
}

.panel-tab:focus {
  outline-color: currentColor;
}

.panel-tab.panel-tab-active {
  border-top: 2px solid;
  border-top-color: currentColor;
  color: var(--panel-tabs-color-active);
  opacity: 1;
}

.panel {
  display: none;
}

.panel-active {
  display: block;
}
