.canvas-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.drawing-canvas {
  position: absolute;
  top: 0;
  left: 0;
}

#tool-box {
  position: absolute;
  top: 10px;
  right: 10px;
}

.tool-btn {
  width: 40px;
  cursor: pointer;
  margin-right: 4px;
}

.start-hidden {
  visibility: hidden;
}

#col-wrapper {
  cursor: pointer;
  position: flex;
  text-align: center;
  margin-top: 4px;
}

#color-picker {
  width: 40px;
}
