[contenteditable] {
  outline-offset: 5px;
  transition: outline-offset 0.25s linear;
}

[contenteditable]:hover {
  outline: 1px dashed #ccc;
}

[contenteditable]:focus {
	outline: 1px solid #bbb;
  outline-offset: 10px;
  transition: outline-offset 0.5s linear;
}

.xe-editable_is-editing.remark-container.remark-presenter-mode.remark-pause-mode .remark-pause,
.xe-editable_is-editing.remark-container.remark-presenter-mode.remark-pause-mode .remark-backdrop {
 display: none;
}
